# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Logs
logs/
*.log

# Databases
*.db
*.db.bak

# Node (for lol-balancer-api)
node_modules/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env

# Misc
*.swp
*.swo

